.wrapper {
  display: flex;
  height: 100%;
}

.list-unstyled {
  
  margin: 5px;
}

#sidebar {
  width: 12vw;
  height: auto;
  background: #343a40;
  color: #fff;
}
/*----------------- HOME SIDEBAR -----------------------*/
.filter-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  
}

/*----------------- SHIPPER SIDEBAR -----------------------*/
.ship-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.ship {
  text-align: center;
  border: white solid;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 20px;
}
nav ul li button {
  display: block;
  padding: 0.5rem 1rem;
  text-decoration: none;
  height: 90px;
  text-align: center;
  width: 100%;
}
hr{
  border-top: 2px solid #000000;
}
/*----------------- MERCHANT SIDEBAR -----------------------*/

.function-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
nav ul li button {
  display: block;
  padding: 0.5rem 1rem;
  text-decoration: none;
  height: 90px;
  text-align: center;
  width: 12vw;
  white-space: normal;
}