<div class="card text-white bg-danger mb-3" style="max-width: 18rem">
  <div class="card-header text-center">Shopping Cart</div>
  <div class="card-body">
    
    <h5 class="card-title">Total:{{getTotal()}} </h5>
    <hr />
    <h6 class="card-title">Items bought:</h6>

    <ul>
      <li *ngFor="let item of carrello"><span>{{item.descrizione}}  <p>{{item.quantita}}</p> x <p> prezzo: {{item.prezzo}}</p></span></li>
      
    </ul>

    <button class="btn btn-light btn-block" (click) = "checkout()"[routerLink]="'/checkout'">Checkout</button>
    
  </div>
</div>
